USE [master]
GO
/****** Object:  Database [Eticaret]    Script Date: 4.09.2025 20:02:22 ******/
CREATE DATABASE [Eticaret]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Eticaret', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Eticaret.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Eticaret_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Eticaret_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Eticaret].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Eticaret]
GO
/****** Object:  Table [dbo].[AltKategori]    Script Date: 4.09.2025 20:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltKategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[AnaKategori_id] [int] NOT NULL,
	[KategoriAdi] [varchar](50) NOT NULL,
	[Durum] [bit] NOT NULL,
	[UstKategori_id] [int] NULL,
 CONSTRAINT [PK_AltKategori] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnaKategori]    Script Date: 4.09.2025 20:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnaKategori](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Kategori_Adi] [varchar](50) NULL,
 CONSTRAINT [PK_AnaKategori] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 4.09.2025 20:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[durum] [bit] NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici_bilgileri]    Script Date: 4.09.2025 20:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici_bilgileri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kullanici_id] [int] NULL,
	[ad] [varchar](50) NULL,
	[soyad] [varchar](50) NULL,
	[telefon] [varchar](11) NULL,
	[yetki] [int] NULL,
	[mail] [varchar](150) NULL,
 CONSTRAINT [PK_Kullanici_bilgileri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunDetay]    Script Date: 4.09.2025 20:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunDetay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Urunid] [int] NULL,
	[numara] [int] NULL,
	[beden] [varchar](50) NULL,
	[renk] [varchar](50) NULL,
	[boy] [varchar](50) NULL,
 CONSTRAINT [PK_UrunDetay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UrunGorsel]    Script Date: 4.09.2025 20:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UrunGorsel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Urunid] [int] NULL,
	[Ad] [varchar](max) NULL,
	[Baslangic] [bit] NULL,
 CONSTRAINT [PK_UrunGorsel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 4.09.2025 20:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UrunAdi] [varchar](150) NOT NULL,
	[stok] [int] NOT NULL,
	[Kategori_id] [int] NOT NULL,
	[Alis] [decimal](18, 2) NULL,
	[Satis] [decimal](18, 2) NOT NULL,
	[Vergi_id] [int] NOT NULL,
	[indirimliFiyat] [decimal](18, 2) NULL,
	[Aciklama] [text] NULL,
 CONSTRAINT [PK_Urunler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vergi]    Script Date: 4.09.2025 20:02:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vergi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [varchar](50) NULL,
	[Orani] [int] NULL,
 CONSTRAINT [PK_Vergi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AltKategori] ON 

INSERT [dbo].[AltKategori] ([id], [AnaKategori_id], [KategoriAdi], [Durum], [UstKategori_id]) VALUES (3, 1, N'elbise', 1, NULL)
INSERT [dbo].[AltKategori] ([id], [AnaKategori_id], [KategoriAdi], [Durum], [UstKategori_id]) VALUES (4, 1, N'ayakkabı', 1, NULL)
INSERT [dbo].[AltKategori] ([id], [AnaKategori_id], [KategoriAdi], [Durum], [UstKategori_id]) VALUES (5, 1, N'abiye', 1, 3)
SET IDENTITY_INSERT [dbo].[AltKategori] OFF
GO
SET IDENTITY_INSERT [dbo].[AnaKategori] ON 

INSERT [dbo].[AnaKategori] ([id], [Kategori_Adi]) VALUES (1, N'kadın')
INSERT [dbo].[AnaKategori] ([id], [Kategori_Adi]) VALUES (5, N'erkek')
INSERT [dbo].[AnaKategori] ([id], [Kategori_Adi]) VALUES (6, N'kadir')
SET IDENTITY_INSERT [dbo].[AnaKategori] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([id], [username], [password], [durum]) VALUES (2, N'ali', N'123', 0)
INSERT [dbo].[Kullanici] ([id], [username], [password], [durum]) VALUES (3, N'selam', N'123', 1)
INSERT [dbo].[Kullanici] ([id], [username], [password], [durum]) VALUES (4, N'admin', N'1234', 1)
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[Vergi] ON 

INSERT [dbo].[Vergi] ([id], [Adi], [Orani]) VALUES (1, N'KDV', 18)
INSERT [dbo].[Vergi] ([id], [Adi], [Orani]) VALUES (2, N'Eğitim', 10)
SET IDENTITY_INSERT [dbo].[Vergi] OFF
GO
USE [master]
GO
